<h3 class="title is-3">Create an account</h3>
<form [formGroup]="form">
  <app-input
    label="Username"
    inputType="text"
    [control]="$any(form.get('username'))"
  ></app-input>
  <app-input
    inputType="password"
    label="Password"
    [control]="$any(form.get('password'))"
  ></app-input>
  <app-input
    inputType="password"
    label="Password confirmation"
    [control]="$any(form.get('passwordConfirmation'))"
  ></app-input>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" type="submit">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Sign in</button>
    </div>
  </div>
</form>
