<div class="max-w-md mx-auto">
  <h3 class="text-3xl font-extrabold my-4">Create an account</h3>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col space-y-4"
  >
    <app-input
      label="Username"
      inputType="text"
      [control]="$any(form.get('username'))"
    ></app-input>
    <app-input
      inputType="password"
      label="Password"
      [control]="$any(form.get('password'))"
    ></app-input>
    <app-input
      inputType="password"
      label="Password confirmation"
      [control]="$any(form.get('passwordConfirmation'))"
    ></app-input>

    <p
      *ngIf="
      form.get('password')?.touched &&
      form.get('passwordConfirmation')?.touched &&
      form.errors?.['passwordsDontMatch']
    "
      class="field-error-msg"
    >
      Password and Password confirmation must match
    </p>

    <p
      *ngIf="
    form.errors?.['noConnection']
  "
      class="field-error-msg"
    >
      No connection to the server
    </p>

    <div class="flex space-x-2">
      <button
        type="submit"
        class="primary-btn"
      >
        Submit
      </button>
    </div>
  </form>
</div>
