<h3 class="title is-3">Create an account</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-input
    label="Username"
    inputType="text"
    [control]="$any(form.get('username'))"
  ></app-input>
  <app-input
    inputType="password"
    label="Password"
    [control]="$any(form.get('password'))"
  ></app-input>
  <app-input
    inputType="password"
    label="Password confirmation"
    [control]="$any(form.get('passwordConfirmation'))"
  ></app-input>

  <p
    *ngIf="
      form.get('password')?.touched &&
      form.get('passwordConfirmation')?.touched &&
      form.errors?.['passwordsDontMatch']
    "
    class="help is-danger mb-4"
  >
    Password and Password confirmation must match
  </p>

  <p
    *ngIf="
    form.errors?.['noConnection']
  "
    class="help is-danger mb-4"
  >
    No connection to the server
  </p>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" type="submit">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Sign in</button>
    </div>
  </div>
</form>
