<div class="mx-auto px-4 max-w-7xl">
  <div class="flex justify-between py-4 border-b mb-8">
    <h1 class="font-extrabold text-4xl text-blue-500">
      <a routerLink="/">EmailClient</a>
    </h1>
    <div class="flex space-x-4 items-center">
      <a class="secondary-btn" routerLinkActive="active-btn" routerLink="/inbox"
        >Inbox</a
      >
      <a
        class="secondary-btn"
        routerLinkActive="active-btn"
        routerLink="/signout"
        >Sign Out</a
      >
      <a
        class="secondary-btn"
        routerLinkActive="active-btn"
        routerLink="/signin"
        >Sign In</a
      >
      <a
        class="secondary-btn"
        routerLinkActive="active-btn"
        routerLink="/signup"
        >Sign Up</a
      >
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
