<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="flex flex-col space-y-4"
>
  <app-input
    inputType="email"
    label="To"
    [control]="$any(form.get('to'))"
  ></app-input>
  <app-input
    inputType="email"
    label="From"
    [control]="$any(form.get('from'))"
  ></app-input>
  <app-input
    inputType="email"
    label="Subject"
    [control]="$any(form.get('subject'))"
  ></app-input>
  <app-input
    inputType="email"
    controlType="textarea"
    label="Content"
    [control]="$any(form.get('text'))"
  ></app-input>

  <div class="flex space-x-2">
    <button type="submit" class="primary-btn">Submit</button>
  </div>
</form>
