<div class="field">
  <label class="label">{{ label }}</label>
  <div class="control">
    <input
      class="input"
      type="text"
      [formControl]="control"
      placeholder="Username"
    />
  </div>
  <p *ngIf="control.errors?.['required']" class="help is-danger">
    Field is required
  </p>
  <p *ngIf="control.errors?.['minlength']" class="help is-danger">
    Value you entered is
    {{control.errors?.['minlength']['actualLength']}} characters long, but it
    must be at least {{control.errors?.['minlength']['requiredLength']}}
  </p>
  <p *ngIf="control.errors?.['maxlength']" class="help is-danger">
    Value you entered is
    {{control.errors?.['maxlength']['actualLength']}} characters long, but it
    can't be longer than {{control.errors?.['maxlength']['requiredLength']}}
  </p>
  <p *ngIf="control.errors?.['pattern']" class="help is-danger">
    Invalid format
  </p>
  <p *ngIf="control.errors?.['nonUniqueUsername']" class="help is-danger">
    Username is taken
  </p>
  <p *ngIf="control.errors?.['noConnection']" class="help is-danger">
    No connection to check username
  </p>
</div>
