@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .field-error-msg {
    @apply mt-2 text-sm text-red-600 dark:text-red-500;
  }
  .field-input {
    @apply bg-gray-50 border border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }
  .primary-btn {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center;
  }
  .secondary-btn {
    @apply py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700;
  }
  .active-btn {
    @apply !border-blue-400;
  }
}
